<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transactpay_android_sdk"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name="com.transactpay.transactpay_android_sdk.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transactpay_android_sdk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Redirect User Activity -->
        <activity
            android:name="com.transactpay.transactpay_android_sdk.Redirect_User"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- Failed Activity -->
        <activity
            android:name="com.transactpay.transactpay_android_sdk.Failed"
            android:exported="false"
            android:label="@string/app_name" />

        <!-- Success Activity -->
        <activity
            android:name="com.transactpay.transactpay_android_sdk.Success"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="com.transactpay.transactpay_android.PayWithTransactpay"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>
